{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="/css/event/index.css">
    <div class="title">
        <div>
            <h1>Événements</h1>
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div>
                <a class="button" href="{{ path('app_event_create') }}">Ajouter</a>
            </div>
        {% endif %}
    </div>

    {# Liste d'événement #}
    {% for event in events %}
        <div class="event">
            <h3><a href="{{ path('app_event_infos', {'id': event.id}) }}">{{ event.title }}</a></h3>
            <h6>
                <p>Auteur : {{ event.user.name }}</p>
                <p>Création : {{ event.createdAt|date('d/m/Y H:i') }}</p>
                <p>Catégorie : {{ event.category.name }}</p>
                <small>{{ event.startAt|date('d/m/Y H:i') }} à {{ event.address }}, {{ event.city }} {{ event.postalCode }}</small>
            </h6>
            <p>{{ event.description }}</p>      
        </div>
    {% endfor %}

{% endblock %}
