{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="/css/event/index.css">

    <div class="title">
        <div>
            <h1>Événements {{ eventDetail.title }} ({{ eventDetail.id }})</h1>
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if app.user.name == eventDetail.user.name %}
                <a class="button" href="{{ path('app_event_update', {'id': eventDetail.id}) }}">Modifier</a>
            {% endif %}
        {% endif %}
    </div>

    <div class="event">
        <h3><a href="{{ path('app_event_infos', {'id': eventDetail.id}) }}">{{ eventDetail.title }}</a></h3>
        <h6>
            <p>Auteur : {{ eventDetail.user.name }}</p>
            <p>Création : {{ eventDetail.createdAt|date('d/m/Y H:i') }}</p>
            <p>Catégorie : {{ eventDetail.category.name }}</p>
            <small>{{ eventDetail.startAt|date('d/m/Y H:i') }} à {{ eventDetail.address }}, {{ eventDetail.city }} {{ eventDetail.postalCode }}</small>
        </h6>
        <p>{{ eventDetail.description }}</p>
    </div>

    <h2>Commentaires</h2>

    <div class="comment">
        {% for comment in comments %}
            <div>
                <header>
                    <h4>{{ comment.user.name }}</h4>
                    <p>Création {{ comment.createdAt|date('d/m/Y H:i') }}</p>
                </header>
                {{ comment.content }}
            </div>
        {% endfor %}
    </div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ form(form) }}
    {% endif %}
{% endblock %}