{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="/css/publication/index.css">
    <div class="title">
        <div>
            <h1>Publication</h1>
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div>
                <a class="button" href="{{ path('app_publication_create') }}">Ajouter</a>
            </div>
        {% endif %}
    </div>

    {# Liste d'une publication #}
    {% for publication in publications %}
        <div class="publication">
            <h3><a href="{{ path('app_publication_infos', {'id': publication.id}) }}">{{ publication.title }}</a></h3>
            <h6>
                <p>Auteur : {{ publication.user.name }}</p>
                <p>Création : {{ publication.createdAt|date('d/m/Y H:i') }}</p>
                <p>Catégorie : {{ publication.category.name }}</p>
            </h6>
            <p>{{ publication.description }}</p>      
        </div>
    {% endfor %}

{% endblock %}
